<% @title = "About our API" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1><%=@title %></h1>
  <dl>
    <dt>Introduction</dt>
    <dd>
            <p> <%= site_name %> does not have a full API yet, but we are gradually adding
        lots of things that are similar in use to an API as they are requested.
      </p>
    </dd>
    </dd>
         </dl>

  <p>Please <a href="<%= help_contact_path %>">contact us</a> if you need an API feature that isn't there yet. It's
    very much a work in progress, and we do add things when people ask us to.</p>

  <div id="hash_link_padding"></div>
</div>
